{% extends 'base.html.twig' %}

{% block title %}Hello AgentController!
{% endblock %}

{% block body %}
	<!-- ====== Navbar Section Start -->
	<header x-data="
								   {
								   navbarOpen: false
								   }
								   " class="flex items-center w-full bg-white dark:bg-dark">
		<div class="container mx-auto">
			<div class="relative flex items-center justify-between -mx-4">
				<div class="max-w-full px-4 w-60">
					<a href="javascript:void(0)" class="block w-full py-5">
						<img src="https://cdn.tailgrids.com/2.0/image/assets/images/logo/logo-primary.svg" alt="logo" class="dark:hidden"/>
						<img src="https://cdn.tailgrids.com/2.0/image/assets/images/logo/logo-white.svg" alt="logo" class="hidden dark:block"/>
					</a>
				</div>
				<div class="flex items-center justify-between w-full px-4">
					<div>
						<button @click="navbarOpen = !navbarOpen" :class="navbarOpen && 'navbarTogglerActive' " id="navbarToggler" class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary focus:ring-2 lg:hidden">
							<span class="relative my-[6px] block h-[2px] w-[30px] bg-body-color dark:bg-white"></span>
							<span class="relative my-[6px] block h-[2px] w-[30px] bg-body-color dark:bg-white"></span>
							<span class="relative my-[6px] block h-[2px] w-[30px] bg-body-color dark:bg-white"></span>
						</button>
						<nav :class="!navbarOpen && 'hidden' " id="navbarCollapse" class="absolute right-4 top-full w-full max-w-[250px] rounded-lg bg-white py-5 px-6 shadow lg:static lg:block lg:w-full lg:max-w-full lg:shadow-none dark:bg-dark-2 lg:dark:bg-transparent">
							<ul class="block lg:flex">
								<li>
									<a href="javascript:void(0)" class="flex py-2 text-base font-medium text-body-color hover:text-dark lg:ml-12 lg:inline-flex dark:text-dark-6 dark:hover:text-white">
										Home
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="flex py-2 text-base font-medium text-body-color hover:text-dark lg:ml-12 lg:inline-flex dark:text-dark-6 dark:hover:text-white">
										Payment
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="flex py-2 text-base font-medium text-body-color hover:text-dark lg:ml-12 lg:inline-flex dark:text-dark-6 dark:hover:text-white">
										Features
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="justify-end hidden pr-16 sm:flex lg:pr-0">
						<a href="javascript:void(0)" class="py-3 text-base font-medium px-7 text-dark dark:text-white hover:text-primary">
							Login
						</a>
						<a href="javascript:void(0)" class="py-3 text-base font-medium text-white rounded-md bg-primary px-7 hover:bg-primary/90">
							Sign Up
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- ====== Navbar Section End -->
	<!-- ====== Cards Section Start -->
	<section class="bg-gray-2 dark:bg-dark pt-20 pb-10 lg:pt-[120px] lg:pb-20">
		<div class="container mx-auto">
			<div class="flex flex-wrap -mx-4">
				<div class="w-full px-4 md:w-1/2 xl:w-1/3">
					<div class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
						<img src="https://www.ideecadeauoriginal.com/wp-content/uploads/2016/12/Des-idees-cadeaux-de-Noel-inattendus.jpg" alt="image" class="w-full h-72"/>
						<div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
							<h3>
								<div class="text-dark dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
									Fêtes de Noel
								</div>
							</h3>
							<p class="text-base leading-relaxed text-body-color dark:text-dark-6 mb-7">
								Pour générer les tableaux pour les petits et les grands
							</p>
							<a href="javascript:void(0)" class="inline-block py-2 text-base font-medium transition border rounded-full text-body-color hover:border-primary hover:bg-primary border-gray-3 px-7 hover:text-white dark:border-dark-3 dark:text-dark-6">
								Générer
							</a>
						</div>
					</div>
				</div>
				<div class="w-full px-4 md:w-1/2 xl:w-1/3">
					<div class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
						<img src="https://storage.googleapis.com/stateless-site-mougins/2020/08/Rentree-scolaire-2020-2021.jpg" alt="image" class="w-full h-72"/>
						<div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
							<h3>
								<div class="text-dark dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
									Rentrée des classes
								</div>
							</h3>
							<p class="text-base leading-relaxed text-body-color mb-7">
								Il est temps de retourner en classe
							</p>
							<a href="javascript:void(0)" class="inline-block py-2 text-base font-medium transition border rounded-full text-body-color hover:border-primary hover:bg-primary border-gray-3 px-7 hover:text-white dark:border-dark-3 dark:text-dark-6">
								Générer
							</a>
						</div>
					</div>
				</div>
				<div class="w-full px-4 md:w-1/2 xl:w-1/3">
					<div class="mb-10 overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
						<img src="https://www.a7la-home.com/wp-content/uploads/2019/05/669844162-H-768x525.jpg" alt="image" class="w-full h-72"/>
						<div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
							<h3>
								<div class="text-dark dark:text-white hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
									Fêtes des Parents
								</div>
							</h3>
							<p class="text-base leading-relaxed text-body-color mb-7">
								Bonne fêtes aux parents
							</p>
							<a href="javascript:void(0)" class="inline-block py-2 text-base font-medium transition border rounded-full text-body-color hover:border-primary hover:bg-primary border-gray-3 px-7 hover:text-white dark:border-dark-3 dark:text-dark-6">
								Générer
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ====== Cards Section End -->
{% endblock %}
