{% extends 'base.html.twig' %}

{% block title %}Me connecter
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes déjà connecté(e) en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Me déconnecter</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Me connecter</h1>
		<div>
			<label for="inputNickname">Pseudo</label>
			<input type="text" value="{{ last_username }}" name="nickname" id="inputNickname" class="form-control" autocomplete="username" required autofocus>
		</div>
		<div>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="btn btn-lg btn-primary" type="submit">
			Me connecter
		</button>
		<p>
			<a href="{{ path('forgotten_password') }}">Mot de passe oublié</a>
		</p>
		<p>Pas encore inscrit(e) ?
			<a href="{{ path('app.register') }}">M'inscrire</a>
		</p>
	</form>
{% endblock %}
