<div class="card card-default">
	<div class="card-header">
		<h4 class="card-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
				<i class="glyphicon glyphicon-search text-gold"></i>
				<b>SECTION I: L'AGENT</b>
			</a>
		</h4>
	</div>
	<div id="collapse1" class="collapse show">
		<div class="card-body">
			<div class="row">
				<div class="col-md-3 col-lg-4">
					<div class="form-group">
						<label class="control-label">Prénom</label>
						{{ form_widget(form.prenom) }}
					</div>
				</div>
				<div class="col-md-1 col-lg-4">
					<div class="form-group">
						<label class="control-label">Nom</label>
						{{ form_widget(form.nom) }}
					</div>
				</div>
				<div class="col-md-1 col-lg-1">
					<div class="form-group">
						<label class="control-label">Matricule</label>
						{{ form_widget(form.matricule) }}
					</div>
				</div>

				<div class="col-md-2 col-lg-3">
					<label class="control-label">Date d'Embauche</label>
					<div class="input-group date">
						{{ form_widget(form.dateEmbauche) }}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-lg-3">
					<div class="form-group">
						<label class="control-label">Adresse Mail</label>
						{{ form_widget(form.email) }}
					</div>
				</div>
				<div class="col-md-3 col-lg-3">
					<div class="form-group">
						<label class="control-label">Téléphone</label>
						{{ form_widget(form.telephone) }}
					</div>
				</div>
				<div class="col-md-3 col-lg-3">
					<div class="form-group">
						<label class="control-label">Site</label>
						{{ form_widget(form.site) }}
					</div>
				</div>
				<div class="col-md-2 col-lg-3">
					<label class="control-label">Date Naissance</label>
					<div class="input-group date">
						{{ form_widget(form.dateNaissance) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<div class="form-group">
						<label class="control-label">Adresse</label>
						{{ form_widget(form.adresse) }}
					</div>
				</div>

				<div class="col-md-3 col-lg-3">
					<div class="form-group">
						<label class="control-label">Code Postal</label>
						{{ form_widget(form.codePostal) }}
					</div>
				</div>

				<div class="col-md-3 col-lg-3">
					<div class="form-group">
						<label class="control-label">Ville</label>
						{{ form_widget(form.ville) }}
					</div>
				</div>
			</div>
		</div>`
	</div>
</div>

<div class="card card-default">
	<div class="card-header">
		<h4 class="card-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
				<i class="glyphicon glyphicon-search text-gold"></i>
				<b>SECTION II: CONTRAT</b>
			</a>
		</h4>
	</div>
	<div id="collapse3" class="collapse show">
		<div class="card-body">
			<div class="row">
				<div class="col-md-3 col-lg-4">
					<div class="form-group">
						<label class="control-label">Est en CDD?</label>
						{{ form_widget(form.isCDD) }}
					</div>
				</div>
				<div class="col-md-1 col-lg-4">
					<div class="form-group">
						<label class="control-label">Est Actif?</label>
						{{ form_widget(form.isActive) }}
					</div>
				</div>
				<div class="col-md-1 col-lg-4">
					<div class="form-group">
						<label class="control-label">Date fin Contrat</label>
						{{ form_widget(form.finContrat) }}
					</div>
				</div>
			</div>`
		</div>
	</div>
</div>
<div class="card card-default">
	<div class="card-header">
		<h4 class="card-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
				<i class="glyphicon glyphicon-search text-gold"></i>
				<b>SECTION III: SITUATION</b>
			</a>
		</h4>
	</div>
	<div id="collapse2" class="collapse show">
		<div class="card-body">
			<div class="row">
				<div class="col-md-3 col-lg-4">
					<div class="form-group">
						<label class="control-label">Status</label>
						{{ form_widget(form.status) }}
					</div>
				</div>
				<div class="col-md-1 col-lg-4">
					<div class="form-group">
						<label class="control-label">Ayant Droit</label>
						{{ form_widget(form.ayantDroit) }}
					</div>
				</div>
				<div class="col-md-1 col-lg-4">
					<div class="form-group">
						<label class="control-label">Date de Naissance (AD)</label>
						{{ form_widget(form.dateNaissanceAD) }}
					</div>
				</div>
			</div>`
		</div>
	</div>
</div>
<div class="card card-default">
	<div class="card-header">
		<h4 class="card-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
				<i class="glyphicon glyphicon-search text-gold"></i>
				<b>SECTION IV: ENFANT</b>
			</a>
		</h4>
	</div>
	<div id="collapse4" class="collapse show">
		<div class="card-body">
			<div class="row">
				<div class="col-md-3 col-lg-4">
					<div class="form-group">
						<label class="control-label">Enfant?</label>
						{{ form_widget(form.enfant) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<p>As a part of the admissions process at the University of University Name School of the Arts, all applicants are asked to submit this recommendation form. We appreciate any comments and evaluations that you would like to offer about this candidate. Feel free to attach comments or descriptions. A prompt reply is requested.</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="pull-right">
			<button type="submit" class="btn btn-success">
				<i class="fa fa-save"></i>
				Sauver
			</button>


			<a class="btn btn-warning" href="#" id="btnToTop">
				<i class="fa fa-arrow-up"></i>
				Top</a>
		</div>
	</div>
</div></div>{# https://bootsnipp.com/snippets/xr20B #}
