{% extends 'myAdmin/base.html.twig' %}

{% block title %}
	Créer un abonné
{% endblock %}

{% block body %}
	<div id="accordion">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h3>Ajouter un agent
					</h3>
				</div>
			</div>
		</div>
		{{ form_start(form) }}
		{% include 'myAdmin/agent/_form.html.twig' %}
		{{ form_end(form) }}
	</div>
{% endblock %}
