{# {% extends 'admin/admin.html.twig' %} #}
{% extends 'myAdmin/base.html.twig' %}

{% block title %}Tous les agents
{% endblock %}

{% block body %}
	{# {{ include('myAdmin/_partials/_button.html.twig', {message:'Ajouter un agent', chemin:'myadmin.agent.create'}) }} #}

	<twig:Dashboard :entity="entity" :headers="headers"/>
{% endblock %}
