{# {% extends 'admin/admin.html.twig' %} #}
{% extends 'myAdmin/base.html.twig' %}

{% block title %}Tous les agents
{% endblock %}

{% block body %}
	{# {{ include('myAdmin/_partials/_button.html.twig', {message:'Ajouter un agent', chemin:'myadmin.agent.create'}) }} #}


	<div class="flash"></div>
	<table class="table">
		<thead>
			<tr>
				<th>
					{{ knp_pagination_sortable(agents, 'ID', 'r.id')}}
				</th>
				<th>
					{{ knp_pagination_sortable(agents, 'Site', 'r.site')}}
				</th>
				<th>
					Matricule</th>
				<th>
					{{ knp_pagination_sortable(agents, 'Nom', 'r.nom')}}
				</th>

				<th>
					{{ knp_pagination_sortable(agents, 'Prenom', 'r.prenom')}}
				</th>
				<th>
					Date Embauche</th>
				<th>
					Date Naissance</th>
				<th>
					Status</th>
				<th>
					Enfants</th>
				<th>
					Ayant Droit</th>
				<th>
					Place Cinéma</th>
				<th>
					Actif?</th>
				<th>
					CDD?</th>
				<th style="width: 300px">
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			{% for agent in agents %}
				<tr id="row_abonne_{{ agent.id }}">
					<td>{{ agent.id }}
					</td>
					<td>
						{{ agent.site.nom }}
					</td>
					<td>{{ agent.matricule }}
					</td>
					<td>{{ agent.prenom }}
					</td>
					<td>
						{{ agent.nom}}
					</td>
					<td>
						{{ agent.dateEmbauche|date("m/d/Y")}}
					</td>
					<td>
						{{ agent.dateNaissance|date("m/d/Y")}}
					</td>
					<td>
						{{ agent.status.nom}}
					</td>
					<td>
						{{ agent.enfant|length()}}
					</td>
					<td>
						{{ agent.ayantDroit}}
					</td>
					<td>
						{{ agent.nbPlaceCinema|default(0)}}
					</td>
					<td>
						<div class="form-check form-switch">
							{% if agent.isActive %}
								<input class="form-check-input" type="checkbox" checked disabled>
							{% else %}
								<input class="form-check-input" type="checkbox" disabled>
							{% endif %}
						</div>

					</td>
					<td>
						<div class="form-check form-switch">
							{% if agent.isCDD %}
								<input class="form-check-input" type="checkbox" checked disabled>
							{% else %}
								<input class="form-check-input" type="checkbox" disabled>
							{% endif %}
						</div>

					</td>

					<td>
						<div class="d-flex gap-1">
							<a class="btn btn-primary btn-sm" href="{{ path ('myadmin.agent.edit', {id: agent.id}) }}">
								<i class="fa-solid fa-user-pen"></i>
							</a>
							{# <form action="{{ path ('myadmin.abonne.delete', {id: abonne.id}) }}" method="post">
														<input type="hidden" name="_method" value="DELETE">
														<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
														</form> #}
						</td>
					{% endfor %}
				</tr>
			</tbody>
		</tbody>
	</table>
	{{ knp_pagination_render(agents) }}
{% endblock %}
