{% extends 'base.html.twig' %}

{% block title %}Dashboard - Page d'accueil
{% endblock %}


{% block body %}

	<style>
		.dashboard-tile {
			background-color: #f8f9fa;
			border-radius: 5px;
			padding: 20px;
			text-align: center;
			transition: 0.3s;
		}
		.dashboard-tile:hover {
			background-color: #e9ecef;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}
		.dashboard-icon {
			font-size: 40px;
			color: #007bff;
			margin-bottom: 15px;
		}
		.dashboard-content {
			font-size: 1.2em;
			font-weight: bold;
		}
	</style>
	{% if agent.matricule is not null %}
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-6">
					<div class="dashboard-tile">
						<div class="dashboard-icon">
							<i class="fas fa-chart-line"></i>
						</div>
						<div class="dashboard-content">Statistiques</div>
						<p class="text-muted">Visualisez les performances</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="dashboard-tile">
						<div class="dashboard-icon">
							<i class="fas fa-users"></i>
						</div>
						<div class="dashboard-content">Mes infos</div>
						<p class="text-muted">Gérez vos utilisateurs</p>
						Bonjour
						{{ agent.prenom }}
						<br>
						Il te reste :
						{{ pluralize(agent.nbPlaceCinema|default(0), 'place')}}
						<br>
						<a class="btn  btn-sm" href="{{ path ('commande.viewAll') }}">
							<p class="text-muted">Voir mes commandes</p>
						</a>

					</div>
				</div>
			</div>
			{% if (is_granted ('ROLE_ADMIN'))%}
				<div class="row mt-5">
					<div class="col-md-6">
						<div class="dashboard-tile">
							<div class="dashboard-icon">
								<i class="fas fa-cogs"></i>
							</div>
							<div class="dashboard-content">Les demandes</div>
							<a class="btn  btn-sm" href="{{ path ('commande.viewAll') }}">
								<p class="text-muted">Toutes les dernières demandes</p>
							</a>

							{% for commande in commandes %}
								<div class="row">
									<div class="col-2">
										{{ commande.agent}}
									</div>
									<div class="col-3">
										{{ commande.cinema}}
									</div>
									<div class="col-3">
										{{ commande.statutCommande}}
									</div>
									<div class="col-1">
										{{commande.nombrePlaces}}
									</div>
									<div class="col-1">
										{{commande.prixUnitaire/100}}
									</div>
									<div class="col-1">
										{{commande.tarif/100}}€
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="dashboard-tile">
							<div class="dashboard-icon">
								<i class="fas fa-envelope"></i>
							</div>
							<div class="dashboard-content">Messages</div>
							<p class="text-muted">Consultez la messagerie</p>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}
	<!-- Lien vers FontAwesome pour les icônes -->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<!-- Lien vers Bootstrap JS (optionnel) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>


{% endblock %}
