{% extends 'base.html.twig' %}

{% block title %}M'inscrire
{% endblock %}

{% block importmap %}
	{{ importmap(['app', 'register']) }}
{% endblock %}

{% block body %}
	<h1>M'inscrire</h1>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}
	<div>
		{{ form_row(registrationForm.nickname) }}
	</div>
	<div>
		{{ form_row(registrationForm.email) }}
	</div>
	<div>
		{{ form_row(registrationForm.matricule) }}
	</div>
	<div>
		{{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
		<div>
			<p>Complexité du mot de passe :
				<span id="entropy" class="text-red">Très faible</span>
				(la complexité minimale acceptée est "Fort")</p>
		</div>
	</div>
	<div>
		{{ form_row(registrationForm.agreeTerms) }}
	</div>

	<button type="submit" class="btn" id="submit-button" disabled>M'inscrire</button>
	{{ form_end(registrationForm) }}
	<p>Déjà inscrit(e) ?
		<a href="{{ path('app.login') }}">Me connecter</a>
	</p>
{% endblock %}
