{% extends 'base.html.twig' %}

{% block title %}Quel fichier généré?
{% endblock %}

{% block body %}
	<!-- Cards Section Start -->
	<section class="py-5 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 mb-4">
					<div class="card shadow-sm">
						<img src="https://www.ideecadeauoriginal.com/wp-content/uploads/2016/12/Des-idees-cadeaux-de-Noel-inattendus.jpg" class="card-img-top" alt="image">
						<div class="card-body text-center">
							<h5 class="card-title">Fêtes de Noël</h5>
							<p class="card-text">Pour les petits et les grands - 50€ par agent</p>
							<a href="{{ path('noel_parent') }}" class="btn btn-outline-primary m-1">Générer Parents</a>
							<a href="{{ path('noel_enfant_10') }}" class="btn btn-outline-primary m-1">Générer Enfants (10 ans)</a>
							<a href="{{ path('noel_enfant_16') }}" class="btn btn-outline-primary m-1">Générer Enfants (16 ans)</a>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 mb-4">
					<div class="card shadow-sm">
						<img src="https://storage.googleapis.com/stateless-site-mougins/2020/08/Rentree-scolaire-2020-2021.jpg" class="card-img-top" alt="image">
						<div class="card-body text-center">
							<h5 class="card-title">Rentrée des classes</h5>
							<p class="card-text">Il est temps de retourner en classe</p>
							<a href="{{ path('rentree_enfant_16') }}" class="btn btn-outline-primary m-1">Générer (16 ans)</a>
							<a href="{{ path('rentree_enfant') }}" class="btn btn-outline-primary m-1">Générer (&lt; 16 ans)</a>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 mb-4">
					<div class="card shadow-sm">
						<img src="https://www.a7la-home.com/wp-content/uploads/2019/05/669844162-H-768x525.jpg" class="card-img-top" alt="image">
						<div class="card-body text-center">
							<h5 class="card-title">Fêtes des Parents</h5>
							<p class="card-text">Bonne fêtes aux parents - 50€ par parent</p>
							<a href="{{ path('fete_parent') }}" class="btn btn-outline-primary m-1">Générer</a>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 mb-4">
					<div class="card shadow-sm">
						<img src="https://www.mileade.com/wp-content/uploads/2020/08/ch%C3%A8ques-vacances-e1640161284124.jpg" class="card-img-top" alt="image">
						<div class="card-body text-center">
							<h5 class="card-title">Chèques vacances</h5>
							<p class="card-text">300€ par parent + 100€ par enfant</p>
							<a href="{{ path('ancv') }}" class="btn btn-outline-primary m-1">Générer</a>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 mb-4">
					<div class="card shadow-sm">
						<img src="https://img.freepik.com/vecteurs-libre/hommes-affaires_23-2148484148.jpg" class="card-img-top" alt="image">
						<div class="card-body text-center">
							<h5 class="card-title">Les salariés</h5>
							<p class="card-text">Voir les agents</p>
							<a href="{{ path('liste_agent') }}" class="btn btn-outline-primary m-1">Générer</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Cards Section End -->
{% endblock %}
