{% extends 'base.html.twig' %}

{% block title %}Commande de places
{% endblock %}
{% block importmap %}
	{{ importmap(['app', 'commande']) }}
{% endblock %}
{% block stylesheets %}
	<style>
		.card {
			border: none;
		}
		.background-container img {
			width: 100%;
			height: auto;
		}
		.content-card-mark {
			text-align: center;
			padding: 15px;
		}
		.info {
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
			padding: 10px;
		}
		.logo {
			max-width: 70%;
			height: auto;
			max-height: 50%;
		}
		.card-mark .images .logo-container {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-grow: 1;
			padding: 0.63636em 0;
			width: 100%;
			height: 78%;
		}
	</style>
{% endblock %}
{% block body %}


	<div class="container mt-5">

		<h1 class="text-center">
			Nombre de places souhaitées</h1>
		<div class="containermt-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<form method="post" action="{{ path('commande.recapitulatif', {'id': cinema.id}) }}">
						<div class="mb-3">
							<label for="quantity" class="form-label">Nombre de places :</label>
							<input type="number" class="form-control" id="quantity" name="quantity" min="1" data-price="{{ cinema.tarifNormal /100}}">
						</div>
						<label for="unit-price">Prix unitaire :</label>
						<input type="number" id="unit-price" name="unit-price" value="{{ cinema.tarifNormal /100}}" readonly>
						€
						{# <p>Prix Unitaire :<span id="unit-price">{{ cinema.tarifNormal /100}}</span>€</p> #}
						<p>Prix total :
							<span id="total">0</span>€</p>


						<input type="hidden" id="total-hidden" name="total">
						<label for="free-places">Nombre de places gratuites restantes :</label>
						<input
						type="number" class="form-control" id="free-places" name="free-places" value="{{ agent.nbPlaceCinema|default(0)}}" readonly>
						{# <a href="{{ path('commande.recapitulatif', {'id': cinema.id}) }}" class="btn btn-primary mt-3">Valider et continuer</a> #}
						<input type="submit" value="Valider et Passer au récapitulatif" class="btn btn-primary mt-3">
					</form>
				</div>
			</div>
		</div>


		{# <script> #}
	{# const quantityInput = document.getElementById('quantity'); #}
		{# const totalPrice = document.getElementById('total'); #}
		{#  #}
		{# quantityInput.addEventListener('input', () => { #}
		{# const quantity = quantityInput.value; #}
		{# const unitPrice = quantityInput.dataset.price; #}
		{# const total = quantity * unitPrice; #}
		{# totalPrice.textContent = total.toFixed(2); #}
		{# }); #}
		{# </script> #}
	{% endblock %}
