{# templates/commande/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Commande de places
{% endblock %}

{% block stylesheets %}
	<style>
		.card {
			border: none;
		}
		.background-container img {
			width: 100%;
			height: auto;
		}
		.content-card-mark {
			text-align: center;
			padding: 15px;
		}
		.info {
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
			padding: 10px;
		}
		.logo {
			max-width: 70%;
			height: auto;
			max-height: 50%;
		}
		.card-mark .images .logo-container {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-grow: 1;
			padding: 0.63636em 0;
			width: 100%;
			height: 78%;
		}
	</style>
{% endblock %}
{% block body %}

	<div class="container mt-5">
		<h1 class="text-center">Choix du cinéma</h1>
		<div class="container mt-5">
			<div
				class="row">
				<!-- Exemple de carte pour Cinéchèque -->
				{% for cinema in cinemas %}
					<div class="col-lg-3 col-md-4 col-4 align-self-center">

						<a href="{{ path('commande.place', {'id': cinema.id}) }}" class="card">

							<div class="content-card-mark">
								<div class="background-container">
									<img src="{{ vich_uploader_asset(cinema)}}" alt="{{ cinema.nom }}" class="card-img-top">
								</div>
							</div>
							<div class="info">Dès
								{{ cinema.tarifNormal /100}}€
								<br><span>la place de cinéma</span>
							</div>
						</a>

					</div>
				{% endfor %}
				<!-- Ajoutez d'autres cartes de la même manière pour UGC, Pathé, CGR, Kinépolis, etc. -->
			</div>
		</div>
	</div>
{% endblock %}
