{# templates/commande/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Commande de places
{% endblock %}

{% block stylesheets %}
	<style>
		.card {
			border: none;
		}
		.background-container img {
			width: 100%;
			height: auto;
		}
		.content-card-mark {
			text-align: center;
			padding: 15px;
		}
		.info {
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
			padding: 10px;
		}
		.logo {
			max-width: 70%;
			height: auto;
			max-height: 50%;
		}
		.card-mark .images .logo-container {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-grow: 1;
			padding: 0.63636em 0;
			width: 100%;
			height: 78%;
		}
	</style>
{% endblock %}
{% block body %}

	<div class="container mt-5">
		<h1 class="text-center">Réservez vos places de cinéma</h1>
		<div class="container mt-5">
			<div
				class="row">
				<!-- Exemple de carte pour Cinéchèque -->
				<div class="col-md-4">
					<a href="/offre/cinecheque" class="card">
						<div class="background-container">
							<img src="https://app-passfnacdarty.azureedge.net/medias/Offres/CGR/CGR_logo2.png" alt="Offre cinéma Cinéchèque" class="card-img-top">
						</div>

						<div class="info">Dès 6,95€<br><span>la place de cinéma</span>
						</div>
					</a>
				</div>
				<!-- Ajoutez d'autres cartes de la même manière pour UGC, Pathé, CGR, Kinépolis, etc. -->
			</div>
		</div>
		{{ form_start(form) }}

		<!-- Sélection du cinéma avec recharge de la page pour les salles -->
		<div class="form-group">
			{{ form_label(form.cinema) }}
			<select id="cinema-select" name="cinema" class="form-control" onchange="this.form.submit()">
				<option value="">Sélectionnez un cinéma</option>
				{% for cinema in cinemas %}
					{% if theCinema %}
						<option value="{{ cinema.id }}" {% if cinema.id == theCinema.id %} selected {% endif %}>{{ cinema.nom }}</option>
					{% else %}
						<option value="{{ cinema.id }}">{{ cinema.nom }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>

		<!-- Sélection de la salle (dépend du cinéma choisi) -->
		<div class="form-group">
			{{ form_label(form.salleCinema) }}
			<select
				id="salle-select" name="commande[salle]" class="form-control" onchange="this.form.submit()">
				{# //"calculerTarif()"> #}
				<option value="">Sélectionnez une salle</option>
				{% for salle in salles %}
					{% if theSalle %}
						<option value="{{ salle.id }}" {% if salle.id == theSalle.id %} selected {% endif %} data-tarif="{{ salle.prix }}">{{ salle.nom }}</option>
					{% else %}
						<option value="{{ salle.id }}" data-tarif="{{ salle.prix }}">{{ salle.nom }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		{{dump(theSalle)}}
		<!-- Sélection du nombre de places avec déclenchement du calcul -->
		<div class="form-group">
			{{ form_label(form.nombrePlaces) }}
			{{ form_widget(form.nombrePlaces, {
            'attr': {
                'class': 'form-control',
                'min': 1,
                'max': 10,
                'oninput': 'calculerTarif()'
            }
        }) }}
		</div>

		<!-- Affichage du tarif calculé -->
		<div class="form-group">
			{{ form_label(form.tarif) }}
			<input type="text" id="tarif-total" class="form-control" value="0.00 €" readonly>
		</div>

		<button type="submit" class="btn btn-primary mt-3">Valider la commande</button>
		{{ form_end(form) }}
	</div>

	<script>
		function calculerTarif() { // Vérifie que les éléments requis sont présents avant de calculer le tarif
const salleSelect = document.getElementById('salle-select');
const nombrePlacesInput = document.getElementById('{{ form.nombrePlaces.vars.id }}');
const tarifTotalElement = document.getElementById('tarif-total');

if (! salleSelect || ! nombrePlacesInput || ! tarifTotalElement) {
console.error('Les éléments requis pour le calcul du tarif ne sont pas présents.');
return;
}

// Récupère la salle sélectionnée et le tarif de base
const selectedSalle = salleSelect.options[salleSelect.selectedIndex];
const tarifBase = selectedSalle ? parseFloat(selectedSalle.getAttribute('data-tarif')) : 0;

// Récupère le nombre de places
const nombrePlaces = parseInt(nombrePlacesInput.value) || 0;

// Calcul du tarif
let tarifTotal = tarifBase * nombrePlaces;
const seuilReduction = 5;
const tauxReduction = 0.8;

if (nombrePlaces <= seuilReduction) {
tarifTotal *= tauxReduction;
}

// Affiche le tarif formaté
tarifTotalElement.value = tarifTotal.toFixed(2) + ' €';
}
	</script>
{% endblock %}
