{% extends 'base.html.twig' %}

{% block title %}Commande de places
{% endblock %}
{% block importmap %}
	{{ importmap(['app', 'commande']) }}
{% endblock %}
{% block body %}

	<div class="container mt-5">

		<h1 class="text-center">
			Récapitulatif de la commande</h1>
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<form method="post" action="{{ path('commande.validation', {'id': cinema.id}) }}">
						<div class="mb-3">
							<label for="quantity" class="form-label">Nombre de places :</label>
							<input type="number" id="quantity" name="quantity" min="1" value="{{quantity}}" readonly>
						</div>
						<div class="mb-3">
							<label for=" unit-price">Prix unitaire :</label>
							<input type="number" id="unit-price" name="unit-price" value="{{ cinema.tarifNormal /100}}" readonly>
							€
						</div>
						<div class="mb-3">
							<label for=" unit-price">Prix Total :</label>
							<input type="number" id="total" name="total" value="{{ total }}" readonly>
							€
						</div>
						<div class="mb-3">
							<label for=" unit-price">Nombre de place avant :</label>
							<input type="number" id="placeAvant" name="placeAvant" value="{{ agent.nbPlaceCinema|default(0) }}" readonly>
						</div>

						<div class="mb-3">
							<label for=" unit-price">Nombre de place restante :</label>
							<input type="number" id="free-places" name="free-places" value="{{ freePlaces }}" readonly>
						</div>


						{# <a href="{{ path('commande.recapitulatif', {'id': cinema.id}) }}" class="btn btn-primary mt-3">Valider et continuer</a> #}
						<input type="submit" value="Valider et Passer à la confirmation" class="btn btn-primary mt-3">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
