{# templates/commande/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Commande de places
{% endblock %}
{% block stylesheets %}
	<style>
		select,
		option {
			background-color: #fff;
			border: #777 1px solid;
			margin: 0 0 1.5em;
		}
		input {
			display: block;
		}
	</style>
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="text-center">Commandes</h1>
		<div class="container mt-5">

			<div class="row">
				<div class="row">
					<div class="col-2">
						Agent
					</div>
					<div class="col-2">
						Cinema
					</div>
					<div class="col-2">
						Nombre de places
					</div>
					<div class="col-1">
						Prix
					</div>
					<div class="col-1">
						Total
					</div>
					<div class="col-2 text-center">
						statut de la commande
					</div>
					<div class="col-2 text-center">
						Action
					</div>
				</div>
				<hr class='mt-2'/>
				{% for commande in commandes %}
					<form method="post" action="{{ path('commande.change.statut', {'id': commande.id}) }}">
						<div class="col-12 align-self-center">
							<div class="row mb-1">
								<div class="col-2">
									{{ commande.agent}}
								</div>
								<div class="col-2">
									{{ commande.cinema}}
								</div>
								<div class="col-2">
									{{commande.nombrePlaces}}
								</div>
								<div class="col-1">
									{{commande.prixUnitaire/100}}
								</div>
								<div class="col-1">
									{{commande.tarif/100}}€
								</div>
								{% if (is_granted ('ROLE_CSE'))%}
									<div class="col-2 text-center">
										<select id="nouveauStatut" name="nouveauStatut">
											{% for statut in statutCommande %}
												<option value="{{ statut.id }}" {% if statut.id == commande.statutCommande.id %} selected {% endif %}>{{ statut.name }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-2 text-center">
										{% if (commande.statutCommande.id != 4) %}
											<input type="submit" value="Changer le Workflow" class="btn btn-primary btn-sm">
										{% endif %}
									</div>
								{% else %}
									<div class="col-2 text-center">
										{{ commande.statutCommande}}
									</div>
									<div class="col-2 text-center">
										{% if (commande.statutCommande.id != 4) %}
											<input type="submit" value="Annuler la commande" class="btn btn-primary btn-sm">
										{% endif %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</form>
			{% endfor %}
		</div>
	</div>
{% endblock %}
