{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block stylesheets %}
	<style>
		.film-card {
			background-color: #f8f9fa;
			border-radius: 8px;
			padding: 15px;
			margin-bottom: 20px;
		}

		.affiche {
			max-width: 100%;
			border-radius: 8px;
		}

		.synopsis_container {
			max-height: 100px;
			overflow: hidden;
		}
		body {
			background-color: #eee;
		}

		.title {

			margin-bottom: 50px;
			text-transform: uppercase;
		}

		.card-block {
			font-size: 1em;
			position: relative;
			margin: 0;
			padding: 1em;
			border: none;
			border-top: 1px solid rgba(34, 36, 38, 0.1);
			box-shadow: none;

		}

		.card {
			font-size: 1em;
			overflow: hidden;
			padding: 5;
			border: none;
			border-radius: 0.28571429rem;
			box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
			margin-top: 20px;
		}

		.carousel-indicators li {
			border-radius: 12px;
			width: 12px;
			height: 12px;
			background-color: #404040;
		}

		.carousel-indicators li {
			border-radius: 12px;
			width: 12px;
			height: 12px;
			background-color: #404040;
		}

		.carousel-indicators .active {
			background-color: white;
			max-width: 12px;
			margin: 0 3px;
			height: 12px;
		}

		.carousel-control-prev-icon {
			background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
		}

		.carousel-control-next-icon {
			background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
		}

		/* lex-direction: column;
        } */

		.btn {
			margin-top: auto;
		}
	</style>
{% endblock %}


{% block body %}

	<div class="card">
		<div class="row ">

			<div class="col-md-7 px-3">
				<div class="card-block px-6">
					<h4 class="card-title">Horizontal Card with Carousel - Bootstrap 4
					</h4>
					<p class="card-text">
						The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow
																																																																								                            to
																																																																								                            the card and some adjustments to the prev/next buttons and the indicators is rounded now. As
																																																																								                            in
																																																																								                            Bootstrap 3
					</p>
					<p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the
																																																																								                            carousel div above the col containing the text for left alignment of images</p>
					<br>
					<a href="#" class="mt-auto btn btn-primary  ">Read More</a>
				</div>
			</div>
			<!-- Carousel start -->
			<div class="col-md-5">
				<img class="d-block" src="https://fr.web.img6.acsta.net/c_160_213/img/d6/5b/d65be9c3a6f9dc13a987f71c59351855.jpg" alt="">
			</div>
		</div>
	</div>
	<!-- End of carousel -->
	<div class="container">
		<div class="card float-left">
			<div class="row ">

				<div class="col-sm-7">
					<div
						class="card-block">
						<!--           <h4 class="card-title">Small card</h4> -->
						<p>Wetgple text to build your own card.</p>
						<p>Change around the content for awsomenes</p>
						<a href="#" class="btn btn-primary btn-sm">Read More</a>
					</div>
				</div>

				<div class="col-sm-5">
					<img class="d-block w-50 align-right" src="https://fr.web.img6.acsta.net/c_160_213/img/d6/5b/d65be9c3a6f9dc13a987f71c59351855.jpg" alt="">
				</div>
			</div>
		</div>

		<div class="container mt-4"><hr class="my-4"><div class="row">
				{% for film in films %}
					{% if film|length > 0 %}

						<div class="col-md-3 mb-4">
							<div class="card film-card ">
								<img src={{film.affiche}} class="card-img-top affiche" alt="{{film.affiche}}">
								<div class="card-body">
									<h3 class="card-title">{{ film.titre }}</h3>

									<p class="card-text">
										<strong>Réalisateur:</strong>
										{{film.realisateur}}</p>
									<p class="card-text">
										<strong>Casting:</strong>
										{{entityToArray(film.casting)}}</p>
									<p class="card-text">
										<strong>Genre:</strong>
										{{entityToArray(film.genres)}}</p>
									<p class="card-text">
										<strong>Durée:</strong>
										{{film.duree.heure}}h{{film.duree.minute}}min</p>
									<p class="card-text">{{film.synopsis}}</p>
								</div>
								<div class="card-footer text-center">
									<span class="badge badge-alert">Écoles Cinéma Club - 13:50</span>
									<span class="badge badge-alert">Écoles Cinéma Club - 13:50</span>
								</div>
							</div>
						</div>


					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endblock %}
