<div class="container-fluid">
	<div class="row flex-nowrap">
		<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
			<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
				<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
					<span class="fs-5 d-none d-sm-inline">Menu</span>
				</a>
				<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
					<li class="nav-item">
						<a href="{{ path ('app.home') }}" class="nav-link align-middle px-0">
							<i class="fa-solid fa-house"></i>
							<span class="ms-1 d-none d-sm-inline">Accueil</span>
						</a>
					</li>
					<li>
						<a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
							<i class="fa-solid fa-users"></i>
							<span class="ms-1 d-none d-sm-inline">Famille</span>
						</a>
						<ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
							<li class="w-100">
								<a href="#" class="nav-link px-0">
									<i class="fa-solid fa-user"></i>
									<span class="d-none d-sm-inline">Agents</span>
								</a>
							</li>
							<li>
								<a href="#" class="nav-link px-0">
									<i class="fa-solid fa-child"></i>
									<span class="d-none d-sm-inline">Enfants</span>
								</a>
							</li>
							<li>
								<a href="{{ path ('myadmin.agent.cinema') }}" class="nav-link px-0">
									<i class="fa-solid fa-film"></i>
									<span class="d-none d-sm-inline">Créditer Places</span>
								</a>
							</li>
						</ul>
					</li>

				</ul>
				<hr>

			</div>
		</div>
