<h1>Nouvelle commande de cinéma</h1>

<p>Bonjour
	{{ agent.prenom }},</p>
La commande de
{{ quantity }}
places de
{{ unitPrice }}
€ a été effectuée pour un total de
{{ total }}
€.
<p>Cette commande concerne le cinema suivant :
	{{ groupCine.nom }}</p>

Il te reste actuellement
{{ freePlaces }}
places.
<p>Merci</p>
