<h1>Nouvelle commande de cinéma</h1>

<p>Bonjour,

	{{ agent.prenom }}
	{{ agent.nom }}
	vient de passer une commande de cinéma.</p>
La commande est la suivante :
{{ quantity }}
places de
{{ unitPrice }}
€ a été effectuée pour un total de
{{ total }}
€.

Cette commande concerne le cinema suivant :
{{ groupCine.nom }}


Il lui reste actuellement
{{ freePlaces }}
places.
<p>Merci</p>
