<h1>Commande
	{{commande.id}}
	en attente de paiement</h1>

<p>Bonjour,

	{{ agent.prenom }}

</p>
La commande
{{commande.id}}
est en attente de paiement d'un montant de
{{ commande.tarif }}
€.

Merci d'apporter un chéque afin de valider la commande.

<p>Merci</p>
