<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue sur l'outil de génération
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<!-- Navbar Start -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container">
					<a class="navbar-brand" href="#">
						<img src="https://cdn.tailgrids.com/2.0/image/assets/images/logo/logo-primary.svg" alt="logo" class="d-inline-block align-text-top">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app.home') }}">Home</a>
							</li>
							{% if (is_granted ('ROLE_ADMIN'))%}

								<li class="nav-item">
									<a class="nav-link" href="{{ path('admin') }}">Admin</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('myadmin.agent.list') }}">Administration</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('generation.index') }}">Génération Excel</a>
								</li>
								<li class="nav-item">
									|
								</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('cinema.programmation') }}">Les films à l'affiche</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('commande.cinema') }}">Commander des places</a>
							</li>

						</ul>
						<div class="d-flex">
							{% if (is_granted ('ROLE_USER'))%}
								<a class="btn btn-outline-primary me-2 " href="{{ logout_path('main') }}">Se déconnecter</a>
							{% else %}
								<a href="{{ path('app.login') }}" class="btn btn-outline-primary me-2">Se Connecter</a>
								<a href="{{ path('app.register') }}" class="btn btn-primary">S'enregistrer</a>
							{% endif %}
						</div>
					</div>
				</div>
			</nav>
			<!-- Navbar End -->

			{% block body %}{% endblock %}

			{{ importmap(['app']) }}
			{% block javascripts %}
				{% block importmap %}{% endblock %}
			{% endblock %}
		</body>
	</html>
