<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Gestion de Réservations de cours Adulte pour l'US Cagnes Tennis!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link
		rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
		{# <link rel="stylesheet" href="css/adminlte.min.css"/>
										<link rel="stylesheet" href="css/administration.css"/> #}


		{% block stylesheets %}

			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "myAdmin/_partials/_nav.html.twig" %}

		{# {% if app.user and app.user.isVerified == false %} #}
		{# <div class="alert alert-warning alert-dismissible" role="alert"> #}
		{# <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> #}
		{# <div class="alert-message"> #}
		{# <strong>Votre compte n'est pas activé</strong>, #}
		{# <a href="{{ path('resend_verif') }}">Renvoyer le lien d'activation</a> #}
		{# </div> #}
		{# </div> #}
		{# {% endif %} #}

		{# {% include "_partials/_flash.html.twig" %} #}
		{# } #}
			<div class="col col-auto col-md-9 col-xl-10 py-3"> <main role="main" class="container"> {% block body %}{% endblock %}
				</main>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


			{% block javascripts %}

			{{ encore_entry_script_tags('app') }}
			{# {% block importmap %}
					{{ importmap('app') }}
				{% endblock %} #}{% endblock %}
		</body>
	</html>
</body></html>
