{% extends 'myAdmin/base.html.twig' %}
{% block title %}Niveaux
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
	<br/>
	<br/>

	<section class="pt-8 pt-md-9 mt-6">
		<div
			class="container">

			<!-- Categories -->
			<div
				class="row mt-12">

				<!-- Category -->
				<div class="col-md-3 mb-4 ">
					<a href="{{ path('myadmin.abonne.list')}}" class="card align-items-center text-decoration-none border-0 hover-lift-light py-4">
						<span class="icon-circle icon-circle-lg bg-pastel-primary text-primary">
							<svg width="64" height="64" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 512 512" xml:space="preserve" fill="#000000">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">
									<style type="text/css">
										.st0 {
											fill: #000000;
										}
									</style>
									<g>
										<path class="st0" d="M442.277,402.054c-12.587-18.847-31.702-29.258-49.647-36.027c-9.006-3.394-17.82-5.888-25.574-8.008 c-7.726-2.108-14.474-3.884-18.992-5.584c-7.905-2.94-16.278-6.749-22.104-10.845c-2.919-2.032-5.164-4.125-6.459-5.908 c-1.322-1.825-1.68-3.085-1.68-4.187c0-7.615,0-17.118,0-29.65c10.122-11.266,24.665-28.722,30.628-56.389 c2.094-0.944,4.159-2.004,6.142-3.395c4.958-3.415,9.158-8.373,12.711-15.121c3.595-6.776,6.762-15.438,10.15-27.289 c1.708-6.011,2.507-11.224,2.507-15.879c0.013-5.35-1.102-10.005-3.126-13.778c-2.658-5.006-6.735-7.988-10.384-9.64 c1.391-6.934,2.314-13.965,2.934-20.988c0.798-1.088,1.35-2.369,1.35-3.732V86.274c0-1.673-0.675-3.306-1.859-4.49 c-0.772-0.764-1.75-1.226-2.782-1.515c-6.473-31.289-19.914-54.853-35.545-57.462c-65.815-51.706-108.122,2.355-173.924-9.399 c-10.522,17.518-14.461,42.858-15.328,67.757c-0.303,0.214-0.661,0.351-0.923,0.62c-1.184,1.184-1.859,2.816-1.859,4.49v49.358 c0,1.666,0.675,3.305,1.859,4.49c0.992,0.991,2.342,1.536,3.732,1.708c0.936,8.015,1.86,14.364,2.465,18.11 c-1.184,0.454-2.382,0.977-3.663,1.756c-2.851,1.763-5.742,4.517-7.753,8.297c-2.024,3.774-3.127,8.429-3.112,13.786 c0,4.648,0.785,9.867,2.506,15.872c4.53,15.783,8.621,25.974,13.923,33.445c2.644,3.718,5.647,6.7,8.924,8.965 c1.997,1.391,4.063,2.452,6.142,3.395c5.976,27.667,20.52,45.123,30.642,56.389c0,12.532,0,22.035,0,29.65 c0,0.937-0.372,2.286-1.818,4.214c-2.135,2.864-6.542,6.335-11.775,9.275c-5.233,2.975-11.252,5.544-16.512,7.402 c-6.17,2.19-16.126,4.462-27.268,7.664c-16.761,4.841-36.55,11.823-52.677,25.636c-8.029,6.914-15.094,15.59-20.066,26.373 c-4.972,10.776-7.822,23.578-7.809,38.568c0,3.478,0.152,7.072,0.455,10.79c0.234,2.603,1.225,4.724,2.382,6.473 c2.231,3.25,5.164,5.674,8.856,8.16c6.445,4.269,15.383,8.442,26.827,12.539C129.025,500.804,185.736,511.987,256,512 c57.084,0,105.272-7.409,139.674-16.718c17.214-4.669,30.944-9.771,40.874-14.874c4.972-2.576,8.993-5.109,12.188-7.892 c1.584-1.404,2.988-2.878,4.173-4.627c1.156-1.75,2.148-3.87,2.382-6.473c0.303-3.718,0.455-7.298,0.455-10.769 C455.773,430.678,450.637,414.578,442.277,402.054z M151.197,92.616h206.852v36.667H151.197V92.616z M177.831,238.479l-0.785-4.441 l-4.242-1.515c-2.699-0.964-4.751-1.949-6.542-3.195c-2.658-1.873-5.068-4.428-7.877-9.661c-2.768-5.206-5.715-12.987-8.924-24.273 c-1.405-4.937-1.914-8.766-1.914-11.617c0.014-3.312,0.634-5.247,1.294-6.466c0.978-1.776,2.162-2.533,3.691-3.147 c1.226-0.468,2.506-0.592,3.03-0.62l6.363,0.793c6.335,8.862,11.142,20.051,11.142,20.051v-49.358c0,0,4.958-1.15,12.559-3.05 h152.523c1.129,0.441,1.804,0.695,1.804,0.695l4.696,39.959c0,0,6.528-4.359,12.34-9.034c0.978,0.11,2.672,0.454,3.898,1.266 c0.895,0.565,1.611,1.226,2.272,2.444c0.648,1.219,1.281,3.154,1.295,6.459c0,2.858-0.509,6.687-1.914,11.624 c-4.283,15.059-8.111,23.825-11.636,28.686c-1.75,2.459-3.375,3.994-5.165,5.248c-1.79,1.246-3.856,2.231-6.555,3.195l-4.242,1.515 l-0.785,4.441c-4.958,27.792-19.28,43.43-29.857,55.211l-1.997,2.211v2.981c0,14.102,0,24.383,0,32.612 c0,5.109,1.983,9.709,4.709,13.38c3.154,4.242,7.272,7.629,11.816,10.597c-4.792,4.82-11.1,8.849-19.06,11.913 c-10.535,4.063-23.88,6.342-39.732,6.335c-15.851,0.007-29.21-2.272-39.731-6.335c-9.929-3.822-17.215-9.186-22.256-15.666 c2.452-2.004,4.765-4.138,6.666-6.631c2.81-3.692,4.972-8.318,4.986-13.593c0-8.229,0-18.509,0-32.612v-2.974l-1.997-2.218 C197.126,281.908,182.803,266.27,177.831,238.479z M439.853,459.42l-0.675,0.799c-1.143,1.157-3.443,2.892-6.693,4.744 c-6.101,3.533-15.479,7.486-27.434,11.341v-25.726h-12.697v29.499c-7.382,2.024-15.411,3.974-24.17,5.757 c-30.339,6.211-68.583,10.659-112.184,10.659c-54.316,0-100.245-6.927-132.994-15.52v-30.395h-12.697v26.814 c-11.679-3.601-21.099-7.34-27.751-10.776c-4.228-2.169-7.34-4.235-9.061-5.764c-0.731-0.633-1.143-1.116-1.35-1.398 c-0.248-3.064-0.386-6.018-0.386-8.828c0.028-17.414,4.283-30.125,10.866-40.096c9.833-14.907,25.629-24.024,42.128-30.236 c8.222-3.105,16.54-5.46,24.17-7.498c7.643-2.059,14.557-3.76,20.314-5.785c5.756-2.038,12.188-4.764,18.275-8.16 c6.707,8.918,16.306,15.803,28.232,20.382c12.38,4.759,27.24,7.175,44.29,7.182c17.05-0.007,31.909-2.424,44.29-7.182 c10.618-4.083,19.322-10.053,25.85-17.593c4.158,1.969,8.36,3.794,12.449,5.323c7.685,2.851,17.476,5.096,28.177,8.215 c16.031,4.627,33.727,11.141,46.92,22.454c6.61,5.661,12.147,12.457,16.113,21.009c3.966,8.566,6.39,18.964,6.404,32.006 C440.239,453.443,440.087,456.383,439.853,459.42z"></path>
									</g>
								</g>
							</svg>
						</span>

						<span class="text-dark mt-3">
							Joueurs
						</span>
					</a>
				</div>
				<!-- Category -->
				<div class="col-md-3 mb-4">
					<a href="{{ path('myadmin.coach.list')}}" class="card align-items-center text-decoration-none border-0 hover-lift-light py-4">
						<span class="icon-circle icon-circle-lg bg-pastel-primary text-primary">
							<svg height="64px" width="64px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 512 512" xml:space="preserve" fill="#000000">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">
									<style type="text/css">
										.st0 {
											fill: #000000;
										}
									</style>
									<g>
										<path class="st0" d="M483.342,324.15c-3.526-14.178-11.073-27.365-21.719-38.012l-0.068-0.069c0-0.068-0.069-0.068-0.069-0.068 l-0.069-0.069c-9.592-9.593-20.879-16.506-33.356-20.383c-7.892-2.465-16.149-3.664-24.68-3.664c-1.13,0-2.328,0-3.457,0.069 c-13.958,0.496-28.137,4.304-41.951,11.073c-13.538,6.625-26.236,15.866-37.798,27.428c-11.707,11.706-20.804,25.032-26.794,39.134 c-2.259,5.006-4.022,10.157-5.358,15.37l-0.428,1.694c-1.266,4.868-2.045,9.806-2.534,14.812c-0.076,0.916-0.144,1.9-0.22,2.816 c-0.138,1.976-0.207,3.877-0.207,5.853c0,1.908,0.069,3.808,0.207,5.784c-0.909,17.346-4.724,33.35-11.28,47.666 c-5.495,11.844-12.974,22.78-22.284,32.366l-1.55,1.481c-2.54,2.541-7.12,7.052-14.316,14.034 c-5.144,5.075-9.518,9.379-10.716,10.508c-0.847,0.916-2.045,2.252-3.03,4.091c-0.068,0.138-0.145,0.282-0.213,0.488 c-52.398-0.419-96.676-7.189-128.477-15.583v-30.389H80.278v26.863c-11.707-3.595-21.155-7.334-27.779-10.784 c-4.228-2.19-7.334-4.235-9.028-5.784c-0.778-0.634-1.198-1.13-1.412-1.412c-0.207-3.03-0.351-5.991-0.351-8.814 c0-17.416,4.304-30.107,10.86-40.12c9.806-14.881,25.672-23.978,42.102-30.182c8.25-3.106,16.568-5.502,24.184-7.547 c7.685-2.045,14.599-3.739,20.307-5.777c5.778-2.045,12.195-4.731,18.338-8.112c6.693,8.883,16.279,15.796,28.206,20.376 c12.409,4.724,27.215,7.127,44.278,7.127c16.045,0,30.024-2.204,41.965-6.391c0-2.238,0.075-4.4,0.234-6.645l0.22-2.913 c0.152-1.578,0.393-2.961,0.586-4.435c-1.068,0.475-2.101,0.971-3.23,1.412c-10.577,4.022-23.909,6.273-39.775,6.273 c-15.866,0-29.197-2.252-39.774-6.273c-9.868-3.877-17.202-9.234-22.208-15.728c2.472-1.969,4.724-4.083,6.631-6.625 c2.816-3.67,5-8.318,5-13.538v-35.609l-1.97-2.258c-10.577-11.775-24.894-27.359-29.9-55.214l-0.772-4.442l-4.235-1.48 c-2.679-0.992-4.793-1.977-6.556-3.175c-2.679-1.9-5.075-4.442-7.898-9.661c-2.754-5.22-5.715-13.042-8.884-24.329 c-1.412-4.93-1.907-8.739-1.907-11.562c0-3.312,0.64-5.288,1.274-6.486c0.985-1.763,2.183-2.541,3.663-3.175 c1.267-0.42,2.534-0.565,3.03-0.633l6.418,0.847c6.28,8.814,11.142,20.025,11.142,20.025v-49.36c0,0,4.937-1.129,12.554-3.03 h152.523c1.13,0.42,1.763,0.702,1.763,0.702l4.724,39.913c0,0,6.556-4.303,12.34-9.028c0.992,0.145,2.679,0.496,3.877,1.274 c0.916,0.558,1.618,1.267,2.328,2.465c0.64,1.198,1.274,3.174,1.274,6.486c0,2.824-0.496,6.632-1.907,11.562 c-4.304,15.094-8.106,23.834-11.632,28.702c-1.763,2.465-3.388,4.021-5.219,5.288c-1.763,1.198-3.815,2.183-6.487,3.175 l-4.304,1.48l-0.778,4.442c-4.93,27.855-19.254,43.439-29.831,55.214l-2.038,2.258v35.609c0,5.075,2.038,9.661,4.724,13.325 c0.193,0.262,0.454,0.454,0.654,0.709c1.239-3.87,2.596-7.651,4.207-11.218c1.735-4.084,3.732-8.091,5.922-12.03v-20.472 c10.157-11.287,24.68-28.702,30.678-56.412c2.114-0.916,4.159-1.976,6.135-3.388c4.93-3.381,9.166-8.388,12.691-15.088 c3.601-6.769,6.769-15.446,10.157-27.29c1.763-6.066,2.534-11.21,2.534-15.866c0-5.357-1.13-10.012-3.099-13.82 c-2.685-5.006-6.776-7.968-10.439-9.662c1.412-6.906,2.327-13.958,2.961-20.941c0.778-1.129,1.343-2.396,1.343-3.739V86.3 c0-1.694-0.709-3.312-1.838-4.51c-0.771-0.778-1.763-1.198-2.816-1.481c-6.488-31.312-19.881-54.862-35.54-57.472 c-65.791-51.756-108.1,2.328-173.96-9.448c-10.508,17.56-14.461,42.874-15.301,67.768c-0.282,0.207-0.634,0.351-0.923,0.633 c-1.198,1.198-1.832,2.816-1.832,4.51v49.361c0,1.625,0.634,3.313,1.832,4.442c0.991,1.06,2.328,1.55,3.746,1.763 c0.909,7.968,1.831,14.317,2.465,18.124c-1.198,0.42-2.397,0.916-3.664,1.694c-2.892,1.763-5.784,4.51-7.76,8.319 c-2.046,3.808-3.106,8.463-3.106,13.82c0,4.656,0.778,9.875,2.472,15.866c4.579,15.798,8.67,25.948,13.958,33.426 c2.61,3.732,5.647,6.7,8.883,8.952c2.052,1.412,4.091,2.472,6.211,3.388c5.922,27.71,20.452,45.125,30.603,56.412v29.686 c0,0.916-0.358,2.252-1.832,4.16c-2.121,2.892-6.487,6.349-11.775,9.31c-5.22,2.961-11.211,5.495-16.5,7.403 c-6.142,2.183-16.155,4.442-27.296,7.685c-16.706,4.793-36.524,11.775-52.673,25.596c-8.036,6.914-15.087,15.584-20.025,26.374 c-5.006,10.791-7.83,23.551-7.83,38.57c0,3.456,0.145,7.051,0.428,10.79c0.282,2.61,1.267,4.724,2.396,6.488 c2.258,3.243,5.151,5.64,8.883,8.18c6.418,4.228,15.37,8.388,26.802,12.478c33.701,12.058,89.197,23.062,158.024,23.344 c1.054,0.069,2.108,0.069,3.237,0.069c4.655,0,9.31-0.069,13.827-0.144c3.168-0.069,6.267-0.138,9.304-0.276 c6.273-0.214,12.485-0.496,18.545-0.923c38.921-2.534,72.346-8.387,98.018-15.37c17.202-4.655,30.953-9.73,40.821-14.881 c5.014-2.534,9.035-5.075,12.203-7.823c1.625-1.412,3.03-2.892,4.159-4.654c1.199-1.763,2.19-3.877,2.397-6.488 c0.048-0.592,0.041-1.122,0.082-1.707c-3.264,1.838-6.576,3.567-9.93,5.088c-5.605,2.562-11.245,4.718-16.727,6.37 c-5.853,1.769-12.519,2.947-19.357,3.677c-1.419,0.482-2.768,0.971-4.27,1.453v-0.992c-2.754,0.2-5.509,0.351-8.25,0.351 c-1.425,0-2.851-0.048-4.27-0.117c-0.062,0.007-0.117,0.013-0.178,0.027v4.531c-7.396,1.976-15.439,3.952-24.185,5.716 c-15.866,3.244-33.846,5.991-53.658,7.967c8.18-7.265,18.682-13.821,30.534-18.971c14.592-6.411,30.458-10.433,47.102-11.983h0.207 c1.487,0.069,2.961,0.138,4.448,0.138c2.748,0,5.495-0.138,8.25-0.351c7.12-0.565,14.103-1.832,19.956-3.595 c5.144-1.556,10.219-3.526,15.156-5.784c5.288-2.397,10.433-5.22,15.446-8.463c7.685-4.862,14.943-10.646,21.65-17.347 c10.219-10.226,18.682-21.436,25.1-33.35c4.793-8.959,8.463-18.193,10.722-27.504c1.763-7.471,2.741-14.95,2.741-22.283 C485.807,337.406,484.967,330.706,483.342,324.15z M121.182,92.649h206.821v36.663H121.182V92.649z M238.233,496.416l0.916-0.916 l0.916,0.916H238.233z M265.035,495.287c-5.289,0.352-10.722,0.634-16.293,0.848l-5.082-5.076c0.22-0.213,0.358-0.357,0.565-0.564 c2.754-2.679,4.944-4.8,6.914-6.77l16.713,8.67C267.004,493.242,266.089,494.227,265.035,495.287z M272.858,487.388l-0.358,0.351 l-16.568-8.67c1.061-0.984,1.976-1.976,2.754-2.678l1.474-1.556h0.076v-0.069c2.747-2.816,5.288-5.709,7.76-8.745l13.746,13.752 C278.573,482.244,275.537,484.709,272.858,487.388z M470.795,363.636c-1.976,8.181-5.22,16.431-9.524,24.467 c-5.846,10.79-13.538,21.016-22.986,30.465c-4.511,4.51-9.379,8.6-14.454,12.195c-4.586,3.388-9.311,6.28-14.241,8.814 c-5.929,3.036-12.064,5.502-18.269,7.409c-6.7,2.046-16.148,3.381-24.536,3.381c-1.556,0-2.961,0-4.38-0.068l-0.138-0.069h-0.42 l-0.496,0.069h-0.145c-18.049,1.618-35.257,5.991-51.192,12.973c-8.387,3.67-16.072,7.968-23.054,12.836l-15.164-15.164 c5.151-6.907,9.593-14.24,13.187-22.07c7.334-15.934,11.493-33.563,12.416-52.459v-0.847c-0.144-1.839-0.144-3.602-0.144-5.433 c0-2.465,0.068-5.006,0.282-7.472c0.282-3.244,0.771-6.563,1.481-9.806c1.198-5.496,2.892-10.998,5.075-16.431 c5.426-13.256,13.896-25.948,25.038-37.09c10.646-10.646,22.208-19.04,34.404-25.031c12.416-6.066,24.825-9.31,36.882-9.799h0.427 c0.84,0,1.694-0.076,2.534-0.076c7.265,0,14.316,1.06,20.948,3.174c10.577,3.313,20.025,9.028,28.274,17.347l0.069,0.069 l0.069,0.076c9.096,9.096,15.438,20.238,18.406,32.083c1.343,5.502,2.046,11.21,2.046,17.133 C473.192,350.594,472.413,357.005,470.795,363.636z"></path>
										<path class="st0" d="M312.04,435.701c-2.872-2.872-5.495-6.053-7.822-9.455l-1.384-2.032l-0.71,2.355 c-1.742,5.784-3.877,11.418-6.349,16.761c-2.652,5.743-5.799,11.355-9.324,16.665l1.605,1.646 c5.488-3.402,11.424-6.508,17.642-9.228c5.282-2.314,10.846-4.366,16.548-6.102l2.41-0.73l-2.107-1.377 C318.707,441.685,315.174,438.82,312.04,435.701z"></path>
										<path class="st0" d="M385.241,289.851c-0.014,0.006-0.028,0.006-0.048,0.013l0.819-0.2L385.241,289.851z"></path>
										<path class="st0" d="M444.139,306.659v-0.213l-1.48-1.481c-7.616-7.616-16.712-12.905-26.801-15.37 c-4.648-1.198-9.448-1.763-14.31-1.763c-5.358,0-10.791,0.702-16.292,2.046h-0.069c-7.052,1.694-14.034,4.441-20.941,8.18 c-9.304,5.007-18.194,11.707-26.298,19.812c-9.944,10.012-17.56,21.506-22.215,33.777c-0.847,2.114-1.556,4.304-2.19,6.487 c-0.84,2.823-1.474,5.715-1.9,8.532c-0.702,4.022-1.06,7.968-1.06,11.92c0,6.838,1.06,13.539,3.174,19.812 c2.748,8.394,7.334,15.797,13.47,22.002c6.204,6.135,13.682,10.722,22.001,13.539l0.426,0.144 c6.129,1.97,12.685,2.961,19.392,2.961c2.176,0,4.366-0.069,6.556-0.283c10.715-0.984,21.361-4.441,31.305-9.874 c4.655-2.534,9.096-5.495,13.401-8.814c3.243-2.61,6.418-5.358,9.448-8.388c9.166-9.096,16.431-19.185,21.65-29.762 c5.075-10.432,7.96-21.01,8.318-31.373c0.069-0.779,0.069-1.626,0.069-2.472c0-6.06-0.84-11.914-2.604-17.484 C454.64,320.48,450.137,313.078,444.139,306.659z M447.52,331.622c0.992,3.03,1.488,6.349,1.832,9.661l-8.739,8.745l-19.392-19.392 l16.286-16.362C442.163,319.564,445.55,325.273,447.52,331.622z M351.829,351.93l18.413-18.4l19.392,19.392l-17.284,17.27 l-1.13,1.13L351.829,351.93z M366.641,375.976l-5.998,5.991l-11.348,11.286l-19.392-19.392l1.267-1.274l12.554-12.616l3.457-3.457 l6.411,6.418L366.641,375.976z M374.823,328.874l17.697-17.704l19.468,19.467l-17.705,17.629L374.823,328.874z M378.63,373.229 l15.652-15.728l19.392,19.461l-12.264,12.271l-6.142,6.135l-19.392-19.392L378.63,373.229z M398.869,352.921l17.698-17.704 l19.392,19.467l-17.629,17.629L398.869,352.921z M405.569,298.197c2.672,0.213,5.288,0.496,7.823,1.129 c7.189,1.832,13.607,5.289,19.461,10.44l-16.286,16.217l-19.392-19.392L405.569,298.197z M396.259,298.272l-3.74,3.663 l-2.679-2.679C392.031,298.83,394.138,298.479,396.259,298.272z M369.044,306.873c4.504-2.396,9.021-4.159,13.538-5.64l5.358,5.358 l-17.698,17.697l-11.073-11.141C362.406,310.819,365.657,308.705,369.044,306.873z M345.067,324.991 c2.892-2.817,5.853-5.427,8.814-7.823l11.707,11.706l-18.407,18.4l-11.424-11.424C338.58,332.118,341.61,328.448,345.067,324.991z M323.21,360.889c0.634-2.046,1.336-4.091,2.108-6.067c1.763-4.586,4.021-9.027,6.706-13.401l10.578,10.509l-6.074,5.998 l-11.28,11.279l-3.099-3.106C322.5,364.338,322.714,362.652,323.21,360.889z M323.279,395.23 c-1.342-3.953-1.976-8.181-2.258-12.485l4.228-4.304l19.392,19.468L332.024,410.6C328.14,406.083,325.179,401.008,323.279,395.23z M364.101,426.604c-4.091-0.42-7.961-1.053-11.707-2.252c-5.991-1.976-11.211-5.082-15.79-9.097l12.691-12.767l19.392,19.461 L364.101,426.604z M373.128,426.748l0.214-0.214l0.206,0.214H373.128z M373.342,417.301l-19.392-19.392l13.042-13.119l4.228-4.228 l19.391,19.461l-0.137,0.138L373.342,417.301z M403.173,417.438c-6.983,3.953-14.248,6.7-21.513,8.181l-3.732-3.67l17.34-17.347 l11.004,11.004C405.211,416.24,404.226,416.873,403.173,417.438z M422.633,402.558c-2.12,2.12-4.373,4.166-6.632,5.929 c-1.412,1.267-2.816,2.328-4.235,3.381l-11.844-11.844l6.067-6.067l12.34-12.408l12.126,12.196 C428.06,396.78,425.456,399.74,422.633,402.558z M442.3,375.48c-2.107,4.442-4.793,8.814-7.823,13.05l-11.569-11.569l17.704-17.698 l5.853,5.854C445.337,368.574,444.063,372.031,442.3,375.48z M448.373,357.782l-3.112-3.098l4.166-4.235 C449.214,352.846,448.863,355.317,448.373,357.782z"></path>
									</g>
								</g>
							</svg>
						</span>
						<span class="text-dark mt-3">
							Coachs
						</span>
					</a>
				</div>
				<!-- Category -->
				<div class="col-md-3 mb-4">
					<a href="{{ path('myadmin.modele.reservation.list')}}" class="card align-items-center text-decoration-none border-0 hover-lift-light py-4">
						<span class="icon-circle icon-circle-lg bg-pastel-primary text-primary">
							<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 512 512">
								<title>ionicons-v5-e</title>
								<rect x="48" y="80" width="416" height="384" rx="48" ry="48" style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px"></rect>
								<path d="M397.82,80H114.18C77.69,80,48,110.15,48,147.2V208H64c0-16,16-32,32-32H416c16,0,32,16,32,32h16V147.2C464,110.15,434.31,80,397.82,80Z"></path>
								<circle cx="296" cy="232" r="24"></circle>
								<circle cx="376" cy="232" r="24"></circle>
								<circle cx="136" cy="312" r="24"></circle>
								<circle cx="376" cy="312" r="24"></circle>
								<circle cx="136" cy="312" r="24"></circle>
								<circle cx="216" cy="312" r="24"></circle>
								<circle cx="136" cy="392" r="24"></circle>
								<circle cx="216" cy="392" r="24"></circle>
								<circle cx="296" cy="392" r="24"></circle>
								<line x1="128" y1="48" x2="128" y2="80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
								<line x1="384" y1="48" x2="384" y2="80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
							</svg>
						</span>
						<span class="text-dark mt-3">
							Modèle Reservation
						</span>
					</a>
				</div>


				<!-- Category -->
				<div class="col-md-3 mb-4">
					<a href="{{ path('myadmin.cours.list')}}" class="card align-items-center text-decoration-none border-0 hover-lift-light py-4">
						<span class="icon-circle icon-circle-lg bg-pastel-primary text-primary">
							<svg width="64px" height="64px" viewbox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione-monotone" preserveaspectratio="xMidYMid meet" fill="#000000">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">
									<path d="M57.664 7.506C50.815.658 38.287 2.079 29.686 10.683c-5.041 5.04-7.596 11.421-7.488 17.225c-.406 6.216-1.52 12.215-4.461 15.693l-1.017-1.018l-1.569 1.568l.435.435L5.037 55.135l-.435-.435l-1.567 1.567L8.765 62l1.569-1.567l-.435-.434l10.55-10.549l.435.434l1.566-1.567l-.877-.882c3.476-2.939 9.467-4.052 15.677-4.461c5.806.113 12.193-2.441 17.238-7.486c8.607-8.604 10.027-21.132 3.176-27.982m1.182 11.171l-1.438-1.436l1.116-1.114c.181.828.287 1.68.322 2.55m-.787-4.17L56.367 16.2l-3.174-3.175l2.518-2.519a12.204 12.204 0 0 1 2.348 4.001M28.85 28.927l3.982-3.984l3.177 3.176l-3.984 3.982l-3.175-3.174m2.135 4.22l-2.523 2.52a12.165 12.165 0 0 1-2.348-4.004l1.693-1.691l3.178 3.175m12.962-19.316l3.98-3.982l3.175 3.177l-3.983 3.983l-3.172-3.178m6.347 8.438l-3.985 3.992l-3.179-3.174l3.989-3.991l3.175 3.173m-4.218-4.217l-3.989 3.989l-3.175-3.175l3.989-3.99l3.175 3.176m-5.033 5.035l-3.99 3.989l-3.177-3.177l3.991-3.989l3.176 3.177m-3.176-5.265L34.7 14.654l3.989-3.99l3.165 3.167l-3.987 3.991m-1.043 1.045l-3.992 3.988l-3.166-3.168l3.987-3.991l3.171 3.171m.229 10.298l3.174 3.173l-3.982 3.984l-3.173-3.177l3.981-3.98m1.047-1.046l3.987-3.989l3.175 3.175l-3.992 3.99l-3.17-3.176m8.209.229l3.162 3.169l-3.99 3.989l-3.169-3.168l3.997-3.99m1.041-1.044l3.989-3.989l3.169 3.167l-3.989 3.99l-3.169-3.168m.814-9.251l3.984-3.984l3.174 3.173l-3.979 3.984l-3.179-3.173m6.504-8.591l-2.52 2.52l-3.178-3.177l1.691-1.691a12.14 12.14 0 0 1 4.007 2.348m-5.626-2.816L47.928 7.76l-1.435-1.435c.87.036 1.722.141 2.549.321m-4.591-.275l2.432 2.433l-3.981 3.983l-3.17-3.167l3.021-3.021c.569-.105 1.136-.18 1.698-.228m-4.557.999L38.69 8.576l-.513-.513a20.47 20.47 0 0 1 1.717-.693m-3.106 1.391l.856.857l-3.991 3.991l-1.481-1.485a22.693 22.693 0 0 1 4.616-3.363m-5.661 4.409l1.484 1.484l-3.99 3.989l-.857-.858a22.715 22.715 0 0 1 3.363-4.615m-4.062 6.005l.512.513l-1.206 1.206c.202-.578.432-1.15.694-1.719M25.6 23.75l3.021-3.02l3.168 3.168l-3.982 3.981l-2.436-2.435c.049-.56.124-1.126.229-1.694m1.161 5.176l-1.114 1.114a14.576 14.576 0 0 1-.32-2.549l1.434 1.435m-4.274 13.761c-1.094-1.094.33-5.334 1.316-7.855c.684 1.399 1.569 2.699 2.702 3.832c1.134 1.134 2.435 2.02 3.837 2.705c-2.521.985-6.763 2.41-7.855 1.318m7.019-5.975l2.52-2.521l3.175 3.176l-1.695 1.691a12.187 12.187 0 0 1-4-2.346m5.623 2.812l1.115-1.115l1.436 1.437a14.6 14.6 0 0 1-2.551-.322m4.594.276l-2.436-2.436l3.982-3.982l3.17 3.167l-3.022 3.024a17.45 17.45 0 0 1-1.694.227m4.552-.998l1.205-1.205l.514.512c-.569.259-1.142.49-1.719.693m3.112-1.395l-.857-.858l3.989-3.988l1.483 1.483a22.65 22.65 0 0 1-4.615 3.363M53.046 33l-1.484-1.483l3.989-3.99l.859.857A22.754 22.754 0 0 1 53.046 33m4.062-6.005l-.513-.512l1.205-1.205a20.126 20.126 0 0 1-.692 1.717m1.464-4.578l-3.021 3.022l-3.166-3.17l3.982-3.982l2.434 2.436a17.46 17.46 0 0 1-.229 1.694" fill="#000000"></path>
									<path d="M13 24c2.938 0 5.701-1.144 7.779-3.221C22.857 18.701 24 15.938 24 13s-1.146-5.701-3.224-7.778C18.699 3.145 15.937 2 12.999 2S7.3 3.144 5.223 5.222C3.145 7.299 2 10.062 2 13s1.144 5.702 3.222 7.779A10.93 10.93 0 0 0 13 24m6.481-17.481a9.1 9.1 0 0 1 2.673 6.213a9.277 9.277 0 0 1-6.17-2.714a9.268 9.268 0 0 1-2.714-6.171a9.1 9.1 0 0 1 6.211 2.672M6.519 6.518a9.095 9.095 0 0 1 5.629-2.643a10.4 10.4 0 0 0 9.978 9.977a9.086 9.086 0 0 1-2.644 5.63a9.098 9.098 0 0 1-5.63 2.643a10.394 10.394 0 0 0-3.038-6.938a10.39 10.39 0 0 0-6.938-3.038a9.08 9.08 0 0 1 2.643-5.631m3.498 9.464a9.282 9.282 0 0 1 2.714 6.171a9.102 9.102 0 0 1-6.213-2.671a9.095 9.095 0 0 1-2.671-6.213a9.281 9.281 0 0 1 6.17 2.713" fill="#000000"></path>
								</g>
							</svg>
						</span>
						<span class="text-dark mt-3">
							Cours
						</span>
					</a>
				</div>

				<!-- Category -->
				<div class="col-md-3 mb-4">
					<a href="{{ path('myadmin.abonnement.list')}}" class="card align-items-center text-decoration-none border-0 hover-lift-light py-4">
						<span class="icon-circle icon-circle-lg bg-pastel-primary text-primary">
							<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 512 512">
								<title>ionicons-v5-p</title>
								<path d="M403.29,32H280.36a14.46,14.46,0,0,0-10.2,4.2L24.4,281.9a28.85,28.85,0,0,0,0,40.7l117,117a28.86,28.86,0,0,0,40.71,0L427.8,194a14.46,14.46,0,0,0,4.2-10.2V60.8A28.66,28.66,0,0,0,403.29,32Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
								<path d="M352,144a32,32,0,1,1,32-32A32,32,0,0,1,352,144Z"></path>
								<path d="M230,480,492,218a13.81,13.81,0,0,0,4-10V80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
							</svg>
						</span>
						<span class="text-dark mt-3">
							Abonnements
						</span>
					</a>
				</div>

				<!-- Category -->
				<div class="col-md-3 mb-4">
					<a href="#" class="card align-items-center text-decoration-none border-0 hover-lift-light py-4">
						<span class="icon-circle icon-circle-lg bg-pastel-primary text-primary">
							<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 512 512">
								<title>ionicons-v5-i</title>
								<path d="M277.42,247a24.68,24.68,0,0,0-4.08-5.47L255,223.44a21.63,21.63,0,0,0-6.56-4.57,20.93,20.93,0,0,0-23.28,4.27c-6.36,6.26-18,17.68-39,38.43C146,301.3,71.43,367.89,37.71,396.29a16,16,0,0,0-1.09,23.54l39,39.43a16.13,16.13,0,0,0,23.67-.89c29.24-34.37,96.3-109,136-148.23,20.39-20.06,31.82-31.58,38.29-37.94A21.76,21.76,0,0,0,277.42,247Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
								<path d="M478.43,201l-34.31-34a5.44,5.44,0,0,0-4-1.59,5.59,5.59,0,0,0-4,1.59h0a11.41,11.41,0,0,1-9.55,3.27c-4.48-.49-9.25-1.88-12.33-4.86-7-6.86,1.09-20.36-5.07-29a242.88,242.88,0,0,0-23.08-26.72c-7.06-7-34.81-33.47-81.55-52.53a123.79,123.79,0,0,0-47-9.24c-26.35,0-46.61,11.76-54,18.51-5.88,5.32-12,13.77-12,13.77A91.29,91.29,0,0,1,202.35,77a79.53,79.53,0,0,1,23.28-1.49C241.19,76.8,259.94,84.1,270,92c16.21,13,23.18,30.39,24.27,52.83.8,16.69-15.23,37.76-30.44,54.94a7.85,7.85,0,0,0,.4,10.83l21.24,21.23a8,8,0,0,0,11.14.1c13.93-13.51,31.09-28.47,40.82-34.46s17.58-7.68,21.35-8.09A35.71,35.71,0,0,1,380.08,194a13.65,13.65,0,0,1,3.08,2.38c6.46,6.56,6.07,17.28-.5,23.74l-2,1.89a5.5,5.5,0,0,0,0,7.84l34.31,34a5.5,5.5,0,0,0,4,1.58,5.65,5.65,0,0,0,4-1.58L478.43,209A5.82,5.82,0,0,0,478.43,201Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
							</svg>
						</span>
						<span class="text-dark mt-3">
							Settings
						</span>
					</a>
				</div>

				<!-- Category -->
				<div class="col-md-3 mb-4">
					<a href="#" class="card align-items-center text-decoration-none border-0 hover-lift-light py-4">
						<span class="icon-circle icon-circle-lg bg-pastel-primary text-primary">
							<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 512 512">
								<title>ionicons-v5-l</title>
								<rect x="32" y="80" width="448" height="256" rx="16" ry="16" transform="translate(512 416) rotate(180)" style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px"></rect>
								<line x1="64" y1="384" x2="448" y2="384" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
								<line x1="96" y1="432" x2="416" y2="432" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
								<circle cx="256" cy="208" r="80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></circle>
								<path d="M480,160a80,80,0,0,1-80-80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
								<path d="M32,160a80,80,0,0,0,80-80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
								<path d="M480,256a80,80,0,0,0-80,80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
								<path d="M32,256a80,80,0,0,1,80,80" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
							</svg>
						</span>
						<span class="text-dark mt-3">
							Payments
						</span>
					</a>
				</div>

				<!-- Category -->
				<div class="col-md-3 mb-4">
					<a href="#" class="card align-items-center text-decoration-none border-0 hover-lift-light py-4">
						<span class="icon-circle icon-circle-lg bg-pastel-primary text-primary">
							<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 512 512">
								<title>ionicons-v5-g</title>
								<path d="M336,208V113a80,80,0,0,0-160,0v95" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path>
								<rect x="96" y="208" width="320" height="272" rx="48" ry="48" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect>
							</svg>
						</span>
						<span class="text-dark mt-3">
							Security
						</span>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
