<div{{attributes}}>
	<table class="table">
		<thead>
			<tr>
				{% for header in headers %}
					<th>{{ header}}
						<button data-action="live#action" data-live-action-param="sort" data-live-header-param="{{ header }}" data-live-direction-param="asc">sort</button>

					</th>
				{% endfor %}
			</tr>
		</thead>
		{% for line in lines %}
			<tr>
				{% for header in headers %}
					<td>
						{{ attribute (line, header) }}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
</div>
